.card-header a {
	font-weight: 800;
}

table {
	color: var(--color-text) !important;
}

.table td, .table th {
	border: none;
}

.table thead th {
	border-bottom: 2px solid var(--color-text);
}

.dropdown-divider {
	border-top: 1px solid var(--color-text);
}
