.project-panel {
	--icon-size: 30px;
}

.open-panel {
	left: max(60%, 300px);
}

.toggle-btn {
	color:  var(--color-bg);
}

.panel-toggle {
	left: calc(-var(--icon-size)/2);
	top: calc(50% - calc(var(--icon-size)/2));
	width: var(--icon-size);
	height: var(--icon-size);
	border-radius: calc(var(--icon-size)/2);
	background-color: var(--color-text);
}

.project-panel-detail {
	left: max(calc(var(--icon-size)/2 + 10px), 30%);
}
