.navbar-collapse {
	display: flex !important;
}

.navbar-toggler {
	display: none;
}

nav:first-child {
	flex-wrap: nowrap;
}

.nav-item {
    margin: 0 1em;
}

.dropdown-menu {
	position: absolute !important;
}

.active {
	font-weight: bolder;
}

nav .container-fluid div.navbar-collapse ul {
	flex-direction: row;
} 
